@import "~bootstrap/scss/bootstrap.scss";
@import "~fullpage.js/dist/fullpage.css";

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.butter-h1 {
  font-size: 48px;
  color: white;
}

.nav-spacer {
  width: 100%;
  height: 84px;
}

#email-capture {
  justify-content: center;
}

#email-form-header {
  margin-left: 0.5em;
}

#email-form-group {
  margin-left: 1em;
}

#feature-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.feature-button {
  height: 50px;
  width: 90%;
}

.footer {
  height: 120px;
  margin-top: 30px;
}

.butter-hero {
  height: 350px;
  justify-content: center;
}

.bg-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  max-height: 450px;
}

.about-founder {
  margin-top: 50px;
}

#signature {
  height: 50px;
}

#founder-image {
  height: 150px;
}

.team-image {
  width: 90%;
}

.circle-image {
  border-radius: 50%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.block {
  display: block;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.footer {
  background-color: #f5d4c4;
}

.author-icon {
  height: 50px;
}
