@import "~bootstrap/scss/bootstrap.scss";
@import "~fullpage.js/dist/fullpage.css";
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|PT+Serif:400,400i,700,700i");

$cocoa: #925842;
$charcoal: #4a4a4a;
$dark-charcoal: #434343;
$light-peach: #f2d5c7;
$lighter-peach: #fefaf9;
$dark-blue-grey: #06574f;

/* media breakpoints */
$break-mobile: 540px;
$break-tablet: 720px;
$break-desktop: 960px;
$break-widescreen: 1200px;

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Text */

.butter-h1 {
  font-family: "PT Serif", serif;
  font-weight: bold;
  @media screen and (max-width: $break-mobile) {
    font-size: 28px;
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    font-size: 48px;
  }
  @media screen and (min-width: $break-desktop) {
    font-size: 60px;
  }
}

.butter-h2 {
  font-family: "PT Serif", serif;
  font-size: 28px;
  font-weight: bold;
}

.butter-h3-muli {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.butter-h2-lg {
  font-family: "PT Serif", serif;
  font-size: 32px;
  font-weight: bold;
}

.butter-featured-blog-post {
  font-family: "PT Serif", serif;
  font-size: 48px;
  font-weight: bold;
}

.butter-p {
  font-family: "Muli", sans-serif;
  font-size: 16px;
}

.butter-a {
  &:hover {
    color: $cocoa;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px $cocoa dashed;
  }
}

.footer-a {
  color: $dark-blue-grey;
  font-size: 14px;
  font-weight: bold;
}

.footer-icon {
  height: 27px;
  margin-right: 35px;
  margin-top: 25px;
}

.text-white {
  color: white !important;
}

.text-charcoal {
  color: $charcoal !important;
}

.text-dark-blue-grey {
  color: $dark-blue-grey;
}

.text-light-peach {
  color: $light-peach;
}

.text-cocoa {
  color: $cocoa;
}

.text-dark-charcoal {
  color: $dark-charcoal;
}

.text-bold {
  font-weight: bold;
}

.butter-btn {
  font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.butter-btn-light {
  color: $cocoa;
  background-color: white;
  border: solid 2px $cocoa;
  &:hover {
    background-color: $cocoa;
    color: white;
  }
}

.feature-btn-light {
  color: $cocoa;
  background-color: white;
  border: solid 2px $cocoa;
}

.butter-btn-transparent {
  color: white;
  text-align: center;
  background-color: transparent;
  border: solid 2px white;
  &:hover {
    background: white;
    color: $cocoa;
  }
}

.butter-btn-shaded {
  color: white;
  background-color: $cocoa;
  &:hover {
    background: white;
    color: $cocoa;
  }
}

.feature-button {
  width: 100%;
}

#sydney-map {
  @media screen and (max-width: $break-mobile) {
    width: 100%;
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    width: 100%;
  }
  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
    position: absolute;
    width: 140%;
  }
  @media screen and (min-width: $break-desktop) {
    position: absolute;
    width: 160%;
  }
}

.roles-spacer {
  @media screen and (min-width: $break-widescreen) {
    display: none;
  }
}

.roles-locals {
  @media screen and (max-width: $break-mobile) {
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
  }
  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
  }
  @media screen and (min-width: $break-desktop) and (max-width: $break-widescreen) {
    background-image: none !important;
  }
  @media screen and (min-width: $break-widescreen) {
    padding: 85px 85px 85px 85px;
    background-image: url("../assets/Home/TextContainer-Left.svg");
    left: 75px;
  }
}

.roles-recommenders {
  @media screen and (max-width: $break-mobile) {
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
  }
  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
  }
  @media screen and (min-width: $break-desktop) and (max-width: $break-widescreen) {
    background-image: none !important;
  }
  @media screen and (min-width: $break-widescreen) {
    padding: 100px 100px 100px 100px;
    background-image: url("../assets/Home/TextContainer-Right.svg");
    left: 130px;
    top: 25px;
  }
}

.phone-mockup {
  position: absolute;
  @media screen and (max-width: $break-mobile) {
    display: none;
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    display: none;
  }
  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
    width: 200px;
  }
  @media screen and (min-width: $break-desktop) and (max-width: $break-widescreen) {
    width: 300px;
  }
  @media screen and (min-width: $break-widescreen) {
    width: 300px;
  }
}

#left-phone {
  @media screen and (max-width: $break-mobile) {
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
  }
  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
    right: 10px;
  }
  @media screen and (min-width: $break-desktop) and (max-width: $break-widescreen) {
    right: 10px;
  }
  @media screen and (min-width: $break-widescreen) {
    bottom: 150px;
    left: 125px;
  }
}

#right-phone {
  @media screen and (max-width: $break-mobile) {
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
  }
  @media screen and (min-width: $break-tablet) and (max-width: $break-desktop) {
    right: 120px;
    bottom: 120px;
  }
  @media screen and (min-width: $break-desktop) and (max-width: $break-widescreen) {
    right: 120px;
    bottom: 90px;
  }
  @media screen and (min-width: $break-widescreen) {
    right: 130px;
  }
}

.form-check {
  display: inline-block;
}

/* Custom radio buttons */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: solid 1px $cocoa;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: $cocoa;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.feature-image {
  width: 50%;
  border-radius: 50%;
}

.feature-image-blob {
  padding: 55px 60px 55px 60px;
  background-image: url("../assets/Home/ImageContainer.svg");
}

.about-image-blob {
  padding: 55px 40px 55px 60px;
  background-image: url("../assets/About/ImageContainer.svg");
  text-align: center;
}

#section0 {
  @media screen and (max-width: $break-tablet) {
    margin-top: 100px;
  }
}

#section1 {
  .form-check {
    @media screen and (max-width: $break-mobile) {
      display: block;
      margin-left: 0px !important;
    }
  }

  .butter-btn-shaded {
    @media screen and (max-width: $break-mobile) {
      display: block;
    }
  }
}

#section3 {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-image: url("../assets/LineWork/Homepage Desktoplinework_bottom.svg");
}

.city-icon {
  height: 100px;
}

.cities-list {
  margin-top: 80px;
}

.cities a {
  color: $cocoa;
  &:hover {
    color: $cocoa;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px $cocoa dashed;
  }
}

.city-banner {
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 600px;
}

.butter-logo {
  height: 60px;
}

.nav-spacer {
  width: 100%;
  height: 84px;
}

.navbar-light {
  background-color: $lighter-peach;
}

#email-capture {
  @media screen and (min-width: $break-widescreen) {
    justify-content: center;
  }
}

#email-form-header {
  margin-left: 0.5em;
}

#email-form-group {
  margin-left: 1em;
}

#feature-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  height: auto;
  margin-top: 30px;
  background-color: $lighter-peach;
}

.butter-hero {
  height: 350px !important;
  justify-content: center;
}

.cocoa-overlay {
  background-color: $cocoa;
  background-blend-mode: multiply;
}

.dark-blue-grey-overlay {
  background-color: rgba(6, 87, 79, 0.7);
  background-blend-mode: multiply;
}

.full-bg-img {
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  max-height: 450px;
}

.about-founder {
  margin-top: 50px;
}

#signature {
  height: 100px;
}

#founder-image {
  height: 150px;
}

.value-image {
  height: 250px;
}

.value-text {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.team-image {
  width: 70%;
}

#contact-us {
  background-color: $dark-blue-grey;
}

.circle-image {
  border-radius: 50%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.block {
  display: block;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.center-text {
  text-align: center;
}

.city-hero {
  height: 550px;
  background-size: 1300px;
  background-repeat: no-repeat;
}

.author-icon {
  height: 75px;
}

.blog-featured-tag {
  background-color: $dark-blue-grey;
  display: inline-block;
  padding: 5px 30px 5px 30px;
  margin-bottom: 0px;
  font-weight: normal;
}

.blog-thumbnail {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 300px;
}

.blog-featured-thumbnail {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 500px;
}

.blog-hr {
  border: solid 1px #979797;
}

.city-header {
  margin-top: 10em;
}

.img-wrapper {
  width: 100%;
  padding-bottom: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.review-size {
  @media screen and (max-width: $break-mobile) {
    min-width: 273px;
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    min-width: 289px;
  }
  @media screen and (min-width: $break-desktop) {
    min-width: 180px;
    max-width: 230px;
  }
}

.neighborhood-size {
  @media screen and (max-width: $break-mobile) {
    min-width: 274px;
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    max-width: 180px;
  }
  @media screen and (min-width: $break-desktop) {
    max-width: 299px;
  }
}

.city-title {
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    margin-left: 5px;
  }
  @media screen and (min-width: $break-desktop) {
    margin-left: 40px;
  }
}

/* Pagination */

ul {
  list-style: none;
}
.pagination {
  padding: 0 0 3rem;
  margin: 0 auto;
  text-align: center;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination .posts {
  display: flex;
}

.pagination a {
  width: 36px;
  height: 36px;
  background-color: white;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  transition: all 0.12s ease-in-out;
  margin: 0 0.2rem;
  border-radius: 7px;
  border: solid 1px $light-peach;
  text-decoration: none;
  color: $dark-charcoal;
}

.pagination .arrow {
  border: none;
}

.pagination a:not(.is-disabled):not(.is-current):hover {
  box-shadow: inset 0 0 0 2px $light-peach;
}

.pagination a.is-current {
  background-color: $light-peach;
}

.pagination a.is-disabled {
  background-color: transparent;
  pointer-events: none;
  opacity: 0.2;
}

@media (max-width: 991.98px) {
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Navbar */

.navbar-custom {
  background-color: $lighter-peach;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: $cocoa;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: $cocoa;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: $cocoa;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px $cocoa dashed;
}
