@import "~bootstrap/scss/bootstrap.scss";
@import "~fullpage.js/dist/fullpage.css";
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i|PT+Serif:400,400i,700,700i");

$cocoa: #925842;
$charcoal: #4a4a4a;
$light-peach: #f2d5c7;
$dark-blue-grey: #06574f;

/* media breakpoints */
$break-mobile: 540px;
$break-tablet: 800px;
$break-desktop: 960px;

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Text */

.butter-h1 {
  font-family: "PT Serif", serif;
  font-size: 60px;
  font-weight: bold;
}

.butter-h2 {
  font-family: "PT Serif", serif;
  font-size: 28px;
  font-weight: bold;
}

.butter-h3-muli {
  font-family: "Muli", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.butter-h2-lg{
	font-family: "PT Serif", serif;
	font-size: 32px;
	font-weight: bold;
}


.butter-p {
  font-family: "Muli", sans-serif;
  font-size: 16px;
}

.text-white {
  color: white !important;
}

.text-charcoal {
  color: $charcoal !important;
}

.text-dark-blue-grey {
	color: $dark-blue-grey;
}

.text-light-peach {
	color: $light-peach;
}

.text-cocoa {
	color: $cocoa;
}

.butter-btn {
font-family: Muli;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.butter-btn-light {
  color: $cocoa;
  background-color: white;
  border: solid 2px $cocoa;
  &:hover {
    background-color: $cocoa;
    color: white;
  }
}

.feature-btn-light {
  color: $cocoa;
  background-color: white;
  border: solid 2px $cocoa;
}

.butter-btn-transparent {
  color: white;
  text-align: center;
  background-color: transparent;
  border: solid 2px white;
  &:hover {
    background: white;
    color: $cocoa;
  }
}

.butter-btn-shaded {
	color: white;
	background-color: $cocoa;
	&:hover {
		background: white;
		color: $cocoa;
	  }
   }

.feature-button {
  width: 100%;
}

.feature-image {
  width: 50%;
  border-radius: 50%;
}

.feature-image-blog {
  transform: rotate(21deg);
  border-radius: 27px;
  background-color: rgba(185, 198, 189, 0.75);
}

.city-icon {
  width: 100px;
}

.butter-logo {
  height: 60px;
}

.nav-spacer {
  width: 100%;
  height: 84px;
}

.navbar-light {
  background-color: $light-peach;
}

#email-capture {
  justify-content: center;
}

#email-form-header {
  margin-left: 0.5em;
}

#email-form-group {
  margin-left: 1em;
}

#feature-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer {
  height: 120px;
  margin-top: 30px;
}

.butter-hero {
  height: 350px;
  justify-content: center;
}

.bg-image {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  max-height: 450px;
}

.about-founder {
  margin-top: 50px;
}

#signature {
  height: 50px;
}

#founder-image {
  height: 150px;
}

.team-image {
  width: 90%;
}

.circle-image {
  border-radius: 50%;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.block {
  display: block;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.center-text {
  text-align: center;
}

.footer {
  background-color: #f5d4c4;
}

.city-hero {
  height: 550px;
  background-size: 1300px;
  background-repeat: no-repeat;
}


.author-icon {
  height: 50px;
}

.blog-thumbnail {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 250px;
}

.city-header {
  margin-top: 10em;
}


.img-wrapper {
	width: 100%;
	padding-bottom: 60%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
  }
.review-size {
  @media screen and (max-width: $break-mobile) {
    min-width: 273px;
  }
  @media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
    min-width: 289px;
  }
  @media screen and (min-width: $break-desktop) {
    min-width: 180px;
    max-width: 230px;
  }
}

.neighborhood-size {
	@media screen and (max-width: $break-mobile) {
	  min-width: 274px;
	}
	@media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
	  max-width: 180px;
	
	}
	@media screen and (min-width: $break-desktop) {
	  max-width: 299px;
	}
  }

.city-title {
	@media screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
		margin-left: 5px;
	  }
	@media screen and (min-width: $break-desktop) {
		margin-left: 40px;
	}
}


/* Pagination */

ul {
  list-style: none;
}
.pagination {
  padding: 8rem 0 3rem;
  margin: 0 auto;
  text-align: center;
}

.pagination__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination .posts {
  display: flex;
}

.pagination a {
  width: 48px;
  height: 48px;
  background-color: #e4f8ee;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  transition: all 0.12s ease-in-out;
  margin: 0 0.2rem;
}

.pagination a:not(.is-disabled):not(.is-current):hover {
  box-shadow: inset 0 0 0 3px #442ab9;
}

.pagination a.is-current {
  border-bottom: 3px solid #442ab9;
}

.pagination a.is-disabled {
  background-color: transparent;
  pointer-events: none;
  opacity: 0.2;
}

@media (max-width: 991.98px) {
  .section {
    padding-left: 40px;
    padding-right: 40px;
  }
}
