{% extends "layouts/default.html" %} {% block content %}

<div class="nav-spacer"></div>

    <!-------Nashville Header--------->
    <div
  class="city-hero d-flex align-items-center"
  style="background-image: url({{ city.cityHeader.bannerImage.path | image }})"
>
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12"></div>
          <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="row">
                <h1>{{city.cityName}}</h1>
              </div>
              <div class="row">
               <h4>{{city.cityHeader.description}}</h4>
              </div>
            </div>
        </div>
  </div>
</div>
    <!-------Review Hits--------->
    <div class="section">
        <div class="row city-titles">
            <h2>{{city.reviewSection.reviewSectionTitle}}</h2>
        </div>
        <div class="row no-gutters" id="review-posts">
            {% for review in city.reviewSection.reviews %}
            <div class="col-lg-2 col-md-6 col-sm-12" id="review">
                <div class="row">
                    <img src="{{ review.image.path | image }}">
                </div>
                <div class="row">
                    <h3>{{review.title}}</h3>
                </div>
                <div class="row">
                    {% for tag in tag %}
                    <p>{{tag.tagName}}</p>
                    {% endfor %}
                </div>
                <div class="row">
                    <p>{{review.statement}}</p>
                </div>
                <div class="row">
                    <p>{{review.user.firstName}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-------Email Capture--------->
    <div class="section container">
            <div class="row" id="email-capture">
                    <div class="col-lg-6 col-md-8 col-sm-12">
                      <h3 id="email-form-header">Sign up for our email list!</h3>
                      <form>
                        <div class="form-group email-form-group">
                          <label>I'm interested in being:</label>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value=""
                              id="localCheck"
                            />
                            <label class="form-check-label" for="recCheck">Local</label>
                          </div>
                          <div class="form-check">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              value=""
                              id="recCheck"
                            />
                            <label class="form-check-label" for="recCheck"
                              >Recommender</label
                            >
                          </div>
                        </div>
                        <div class="container">
                          <label for="exampleFormControlInput1">Email address</label>
                          <div class="row">
                            <div class="col-9">
                              <div class="form-group">
                                <input
                                  type="email"
                                  class="form-control"
                                  id="exampleFormControlInput1"
                                  placeholder="me@example.com"
                                />
                              </div>
                            </div>
                            <div class="col-3">
                              <button class="btn btn-light">Tell us!</button>
                            </div>
                          </div>
                        </div>
                    </form>
          </div>
    </div>

    <!-------Neighborhoods--------->
    <div class="section">
      <div class="row city-titles no-gutters">
        <h2>{{city.neighborhoodSection.neighborhoodSectionTitle}}</h2>
      </div>
      <div class="row no-gutters" id="neighborhood-posts">
        {% for neighborhood in city.neighborhoodSection.neighborhoods %}
        <div class="col-lg-3 col-md-4 col-sm-12 col-centered" id="neighborhoods">
          <div class="row">
              <img class="neighborhood-img" src= "{{
                neighborhood.neighborhoodPhoto.path | image
              }}">
          </div>
          <div class="row">
              <h3>{{neighborhood.neighborhoodTitle}}</h3>
          </div>
          <div class="row">
              <p>{{neighborhood.neighborhoodBody}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>


    <!-------The Spread--------->

    <div class="section container">
      <div class="city-titles">
        <div class="row">
            <h2>{{city.blogHighlight.spreadTitle}}</h2>
        </div>
        <div class="row">
          <h5>A Blog by Butter</h5>
        </div>
      </div>
     
      <div class="container">
          <div id="myCarousel" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev"
            onclick="$('#myCarousel').carousel('prev')">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next"
              onclick="$('#myCarousel').carousel('prev')">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                    {% for blogPhoto in city.blogHighlight.posts.slice(0,3) %}
                  <div class="col-4">
                      <img class="d-block w-100" src="{{
                        blogPhoto.banner.path | image
                      }}" alt="Los Angeles" style="width:100%;">
                  </div>
                  {% endfor %}
                </div>
              </div>
      
              <div class="carousel-item">
                  <div class="row">
                      {% for blogPhoto in city.blogHighlight.posts.slice(3,6) %}
                      <div class="col-4">
                          <img class="d-block w-100" src="{{
                            blogPhoto.banner.path | image
                          }}" alt="Los Angeles" style="width:100%;">
                      </div>
                      {% endfor %}
                    </div>
              </div>
        </div>
    </div>
    

    <!-------Instagram--------->
    <div class="fp-auto-height section">
        {% include "partials/footer.html" %}
      </div>
{% endblock %}

