{% extends "layouts/default.html" %} {% block content %}

<div id="fullpage">
  <!-----Hero------->
  <div class="hero section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12">
          <h1 class="mb-5">{{ homepage.hero.heroHeader }}</h1>
          <p>{{ homepage.hero.heroBlurb }}</p>
          <button class="btn btn-light">Get involved</button>
        </div>
      </div>
    </div>
  </div>

  <!-----Local/Rec------->
  <div class="roles section">
    <div class="container">
      <div class="row py-3">
        <div class="col-lg-5 col-md-9 col-sm-12">
          <h2>{{ homepage.rolesSection.locals.localsHeader }}</h2>
          <p>{{ homepage.rolesSection.locals.localsBlurb }}</p>
        </div>

        <div class="col-2"></div>
        <div class="col-lg-5 col-md-12 col-sm-12">
          <h2>
            {{ homepage.rolesSection.recommenders.recommendersHeader }}
          </h2>
          <p>
            {{ homepage.rolesSection.recommenders.recommendersBlurb }}
          </p>
        </div>
      </div>

      <!--Email capture-->
      <div class="row" id="email-capture">
        <div class="col-lg-6 col-md-8 col-sm-12">
          <h3 id="email-form-header">Sign up for our email list!</h3>
          <form>
            <div class="form-group email-form-group">
              <label>I'm interested in being:</label>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="localCheck"
                />
                <label class="form-check-label" for="recCheck">Local</label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="recCheck"
                />
                <label class="form-check-label" for="recCheck"
                  >Reccomender</label
                >
              </div>
            </div>
            <div class="container">
              <label for="exampleFormControlInput1">Email address</label>
              <div class="row">
                <div class="col-9">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      id="exampleFormControlInput1"
                      placeholder="me@example.com"
                    />
                  </div>
                </div>
                <div class="col-3">
                  <button class="btn btn-light">Tell us!</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-----Learn more about Butter------->
  <div class="features section">
    <div class="container">
      <div class="row">
        <h2>Butter is...</h2>
      </div>
      <div class="row" id="feature-buttons">
        {% for feature in homepage.featuresSection.featureList %} {% set index =
        loop.index0 %}
        <div class="col-lg-3 col-md-3 col-sm-12">
          <button
            class="btn btn-secondary feature-button"
            onClick="changeFeature({{ index }})"
          >
            {{ feature.feature.title }}
          </button>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img width="200px" id="featureImage" src="#" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <p id="featureBlurb"></p>
        </div>
      </div>
    </div>
  </div>

  <!-----Cities------->

  <div class="cities section"></div>

  <!-----Footer------->
</div>
{% endblock %}
