{% extends "layouts/default.html" %} {% block content %}

<div class="nav-spacer"></div>
<article>
  <div
    class="butter-hero dark-blue-grey-overlay bg-image d-flex align-items-end"
    style="background-image: url({{ post.banner.path | image }})"
    role="img"
    aria-label="{{ post.banner.description }}"
  >
    <div class="container-fluid">
      <div class="row">
        <h1 class="offset-lg-2 col-lg-6 butter-h1 text-white">
          {{ post.title }}
        </h1>
      </div>
    </div>
  </div>
  <section class="container blogpost-body">
    <div class="row">
      <div class="col-lg-8 col-centered my-3">
        <img
          class="circle-image author-icon"
          src="{{ post.author.userImage.path | image }}"
          alt="{{ post.author.userImage.description }}"
        />
        <div class="post-author-info">
          <span class="butter-p text-charcoal">
            <strong class="text-dark-charcoal"
              >{{ post.author.firstName }} {{ post.author.lastName }}</strong
            >
            <span class="text-light-peach mx-1">&#9632;</span>
            {{post.date |
                date('MMMM Do YYYY') }}
          </span>
          <span class="post-author-role butter-p text-charcoal">
            {{ post.author.role }}
          </span>
        </div>
      </div>
      <div class="col-lg-8 col-centered butter-p">
        {{ post.contentHtml | safe }}
      </div>
    </div>
  </section>
</article>

<!-----Footer------->
<div class="section">
  {% include "partials/footer.html" %}
</div>
{% endblock %}
