<div class="container-fluid footer px-5 py-2" role="navigation">
  <div class="row text-dark-blue-grey text-bold">
    <div class="col-3 px-5">
      <img src="{{site.settings.logo.path | image}}"></img>
    </div>
    <div class="col-6 pl-5 mt-3">
      <div class="row">
      <a class="footer-a" href="/about">About</a>
      <a class="footer-a" href="/about#contact-us">Contact</a>
      <a class="footer-a" href="/about#faq">FAQ</a>
      <a class="footer-a" href="/blog">The Spread</a>
    </div>
    <div class="row mt-3">
      <a target="_blank" href="https://www.instagram.com/discoverbutter/"><img alt="Link to Butter Instagram" class="footer-icon" src="../assets/nav and footer/SocialMedia-Insta.svg"></img></a>
      <a target="_blank" href="#"></a><img alt="Link to Butter Twitter" class="footer-icon" src="../assets/nav and footer/SocialMedia-Twitter.svg"></img></a>
      <a target="_blank" href="#"></a><img alt="Link to Butter Facebook" class="footer-icon" src="../assets/nav and footer/SocialMedia-Facebook.svg"></img></a>
      <a target="_blank" href="#"></a><img alt="Link to Butter Medium" class="footer-icon" src="../assets/nav and footer/SocialMedia-Medium.svg"></img></a>
    </div>
  </div>
    <div class="col-3 butter-p">
      <p>Made with &#9829; by Scout</p>
      <p>&copy; 2019 Butter</p>
    </div>
  </div>
</div>
