<div class="container-fluid footer px-5 py-2" role="navigation">
  <div class="row text-dark-blue-grey text-bold">
    <div class="col-lg-3 col-md-6 col-sm-6 col-6 px-lg-5">
      <img src="{{site.settings.logo.path | image}}"></img>
    </div>
    <div class="col-lg-6 col-md-6 pl-lg-5 mt-3">
      <div class="row">
      <a class="footer-a col-lg-3 col-md-3 col-sm-3" href="/about">About</a>
      <a class="footer-a col-lg-3 col-md-3 col-sm-3" href="/about#contact-us">Contact</a>
      <a class="footer-a col-lg-3 col-md-3 col-sm-3" href="/about#faq">FAQ</a>
      <a class="footer-a col-lg-3 col-md-3 col-sm-3" href="/blog">The Spread</a>
    </div>
    <div class="row mt-3 mb-2">
      <a target="_blank" href="https://www.instagram.com/discoverbutter/"><img alt="Link to Butter Instagram" class="footer-icon" src="{{site.settings.instagramIcon.path | image}}"></img></a>
      <a target="_blank" href="https://twitter.com/discoverbutter"></a><img alt="Link to Butter Twitter" class="footer-icon" src="{{site.settings.twitterIcon.path | image}}"></img></a>
      <a target="_blank" href="#"></a><img alt="Link to Butter Facebook" class="footer-icon" src="{{site.settings.facebookIcon.path | image}}"></img></a>
      <a target="_blank" href="#"></a><img alt="Link to Butter Medium" class="footer-icon" src="{{site.settings.mediumIcon.path | image}}"></img></a>
    </div>
  </div>
    <div class="col-lg-3 col-md-6 butter-p mt-md-3 mt-sm-3">
      <p>Made with &#9829; by Scout</p>
      <p>&copy; 2019 Butter</p>
    </div>
  </div>
</div>
