<!DOCTYPE html>

<html>
  <head>
    {% block meta %}{% endblock %}

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"
    />

    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <link rel="author" href="humans.txt" />
  </head>

  <body
    onload="initialize('{{ homepage.featuresSection.featureList | dump }}')"
  >
    {% include "partials/navbar.html" %} {% block content %}{% endblock %}
  </body>
</html>
